### 以openml中的数据集CSM为例，计算评分Ratings前10的电影到底有多少人喜欢？

In [1]:
# 导入数据集获取工具
from sklearn.datasets import fetch_openml
# 导入数据分析库
import pandas as pd

In [2]:
# 获取数据
data = fetch_openml(
    data_id=42371,
    as_frame=True,
    parser="pandas"
)["frame"]

In [3]:
# 查看数据集的前五行
data.head()

,Year,Ratings,Genre,Gross,Budget,Screens,Sequel,Sentiment,Views,Likes,Dislikes,Comments,Aggregate.Followers
0,2014,6.3,8,9130,4000000.0,45.0,1,0,3280543,4632,425,636,1120000.0
1,2014,7.1,1,192000000,50000000.0,3306.0,2,2,583289,3465,61,186,12350000.0
2,2014,6.2,1,30700000,28000000.0,2872.0,1,0,304861,328,34,47,483000.0
3,2014,6.3,1,106000000,110000000.0,3470.0,2,0,452917,2429,132,590,568000.0
4,2014,4.7,8,17300000,3500000.0,2310.0,2,0,3145573,12163,610,1082,1923800.0

In [4]:
# 按照Rating降序排列，取出前10对应的Likes数
data.sort_values(by=["Ratings"], ascending=False).iloc[:10, ][["Ratings", "Likes"]]

     Ratings  Likes
55       8.7  16635
166      8.6   4632
155      8.6  17541
174      8.3  13030
175      8.3  12607
158      8.2   1023
45       8.2   1390
212      8.2  18398
46       8.1   8567
129      8.1  11748