### 以openml中的数据集CSM为例，将数据集按照评分Ratings作为第一因子降序排列，Likes作为第二因子升序排列。

In [1]:
# 导入数据集获取工具
from sklearn.datasets import fetch_openml
# 导入数据分析库
import pandas as pd

In [2]:
# 获取数据
data = fetch_openml(
    data_id=42371,
    as_frame=True,
    parser="pandas"
)["frame"]

In [3]:
# 查看数据集的前五行
data.head()

,Year,Ratings,Genre,Gross,Budget,Screens,Sequel,Sentiment,Views,Likes,Dislikes,Comments,Aggregate.Followers
0,2014,6.3,8,9130,4000000.0,45.0,1,0,3280543,4632,425,636,1120000.0
1,2014,7.1,1,192000000,50000000.0,3306.0,2,2,583289,3465,61,186,12350000.0
2,2014,6.2,1,30700000,28000000.0,2872.0,1,0,304861,328,34,47,483000.0
3,2014,6.3,1,106000000,110000000.0,3470.0,2,0,452917,2429,132,590,568000.0
4,2014,4.7,8,17300000,3500000.0,2310.0,2,0,3145573,12163,610,1082,1923800.0

In [4]:
# 多字段排序，升降序排列
res = data.sort_values(by=["Ratings", "Likes"], ascending=[False, True])
res.head()

,Year,Ratings,Genre,Gross,Budget,Screens,Sequel,Sentiment,Views,Likes,Dislikes,Comments,Aggregate.Followers
55,2014,8.7,2,188000000,165000000.0,3561.0,1,2,5421705,16635,751,4316,1865000.0
166,2015,8.6,12,345000000,175000000.0,3946.0,1,2,1438926,4632,262,496,232000.0
155,2014,8.6,3,13100000,3300000.0,42.0,1,2,7750223,17541,631,2760,858000.0
175,2015,8.3,9,135000000,28000000.0,2757.0,1,5,848970,12607,237,1560,55618.0
174,2015,8.3,1,153000000,150000000.0,3702.0,4,-4,2732371,13030,497,1774,768700.0